html{
    background-color: black;
    margin: 0;
    padding: 0;
}


body{
    width: 1440px;
    height: 750px;
    margin: 0;
    padding: 0;
    background-color: #fefef4;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

header{
    position: absolute;
    font-family: "Monserrat", sans-serif;
    top: 13px;
    font-size: 9px;
    letter-spacing: -0.5px;
    width: 100%;
    align-items: center;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-left: 40px;
    font-weight: bold;
}


#black-box{
    background-color: #000000;
    width: 10px;
    height: 10px;
    margin:0;
    padding: 0;
    position: absolute;
    top: 22px;
    left: 25px;
}

#black-circle{
    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: 23px;
}

#img-cont img{
    width: 95px;
    height: 130px;
    object-fit: cover;
    filter: grayscale(100%);
    border:#000000 solid 1px;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    transition: scale 0.3s ease;
}

#img1{
    position: absolute;
    top: 70px;
    left: 140px;
}

#img2{
    position: absolute;
    top: 70px;
    left: 375px;
}

#img3{
    position: absolute;
    top: 70px;
    right: 375px;
}

#img4{
    position: absolute;
    top: 247px;
    left: 257px;
}

#img5{
    position: absolute;
    top: 247px;
    left: 613px;
    transition: all 0.3s ease-in-out; /* why doesn't this work T_T */

}


#img5:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    filter: none;
    opacity: 1; /* Keep #img5 fully visible */
}

#img5:hover ~ img {
    opacity: 0.5; /* Dim all other images */
}

#img6{
    position: absolute;
    top: 247px;
    right: 497px;
}

#img7{
    position: absolute;
    top: 247px;
    right: 140px;
}

#title{
    position: absolute;
    bottom: 10px;
    padding:0;
    margin:0;
    left: -150px;
    transform: scale(0.8, 1.6);
    font-size: 200px;
    font-weight: 900;
    text-align: center;
    line-height: 1.2;
    word-spacing: 770px;
    letter-spacing: -10px;
    white-space: nowrap;
}

#red-circle{
    background-color: #ff0000;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

#subtitle{
    position: absolute;
    top: 30px;
    left: 480px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -0.5px;
    white-space: nowrap;
}

#small-text{
    position: absolute;
    bottom: 232px;
    left: 455px;
    font-size: 9px;
    letter-spacing: -0.5px;
    font-weight: 800;
    white-space: nowrap;
    display: flex;
    width: 470px;
    justify-content: space-between;
}

#footer{
    position: absolute;
    bottom: 10px;
    left: 660px;
    font-size: 9px;
    letter-spacing: -0.5px;
    font-weight: 800;
}

#desc{
    position: absolute;
    bottom: 70px;
    left: 380px;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 900;
    width: 600px;
    text-align: center;
    line-height: 1;
}