*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}

body{
    width: 1440px;
    height: 750px;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
}

#logo{
    position: relative;
    width: 150px;
    height: auto;
    left: 10px;
    top: 8px;
}

#contact-btn{
    position: absolute;
    width: 108px;
    height: 40px;
    right: 115px;
    top: 15px;
    background-color: rgb(255, 64, 0);
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 17px;
    font-weight: lighter;
    display: flex;
    align-items: center;   
    justify-content: center; 
}

#menu-btn{
    position: absolute;
    width: 98px;
    height: 40px;
    right: 10px;
    top: 15px;
    background-color: rgb(186, 185, 190);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: center;   
    justify-content: center; 
}

#footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 10px;
    left: 0;
    color: white;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 370px;
}

#arrow-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 129, 26);
    border-radius: 50%;
}

#img1{
    width: 200px;
    height: auto;    
    position: relative;
    object-fit: cover;
    top: 475px;
    left: 89%;
    transform: translate(-50%);
    border-radius: 5px;
}

