*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color:black;
}

body{
    width: 1440px;
    height: 750px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:rgb(255, 255, 255);
    font-family: 'noto-sans', sans-serif;
}

#img-cont{
    position: absolute;
    top: 27%;
    left: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
    gap: 30px;
    z-index: 5;
}

#img-cont img{
    width: 205px;
    height: 290px;
    object-fit: cover;
    opacity: 0;
}


#text-cont {
    position: absolute;
    bottom: 10px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    width: 90%; /* Set width to 70% of the screen */
    text-align: center; /* Center-align the text */
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap: 20px; /* Add spacing between rows and columns */
    line-height: -400px; /* Add spacing between lines */
    font-size: 28px;
    word-spacing: -5px;
}

#text-cont h1 {
    margin-bottom: -20px; /* Space below the heading */
    color:rgb(192, 192, 192);
    transition: 0.5s;
}

#text-cont h1:hover{
    color:black;
    transition: 0.5s;
}


#text-cont sup {
    font-size: 40px; /* Smaller font size for superscript */
    vertical-align: super; /* Raise superscript text */
    font-weight: 100;
    font-style: italic;
}

.line{
    position: relative;
    width: 10px;
    height: 290px;
    top: 202.5px;
    background-color: black;
    display: flex;
    display: inline-block;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}

#line1{
    left: 35px;
    margin: 0;
    padding: 0;
    background-color:rgb(177, 252, 198)
}

#line2{
    left: 255px;
    margin: 0;
    padding: 0;
    background-color:rgb(232, 252, 177)
}

#line3{
    left: 476px;
    margin: 0;
    padding: 0;
    background-color:rgb(193, 177, 252)
}

#line4{
    left: 696px;
    margin: 0;
    padding: 0;
    background-color:rgb(252, 177, 223)
}

#line5{
    left: 917px;
    margin: 0;
    padding: 0;
    background-color:rgb(177, 243, 252)
}

#line6{
    left: 1138px;
    margin: 0;
    padding: 0;
    background-color:rgb(252, 192, 177)
}




