@font-face {
    font-family: 'merisca';
    src: url('./merisca.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color:rgb(255, 255, 255);
}

body{
    width: 1440px;
    height: 750px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:rgb(0, 0, 0);
    font-family: 'noto-sans', sans-serif;
}

h1{
    font-family: 'merisca', sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 166px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1, 1.2);
    font-size: 45px;
}

button{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 120px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color:black;
    border: none;
    border-radius: 30px;
    font-size: 19px;
    font-family: 'merisca', sans-serif;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
}

button:hover{
    background-color: rgb(159, 56, 35);
    color: white;
    transition: color 0.3s, background-color 0.3s;
}

#dots{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    color:rgb(255, 255, 255);
}

footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1, 1.1);
    color: rgba(255, 255, 255, 0.433);
    font-family: 'noto-sans', sans-serif;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 100;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

#t{
    color: rgba(255, 255, 255, 0.433);
    font-family: 'noto-sans', sans-serif;
    font-size: 11px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1, 1.1);
    white-space: nowrap;
    font-weight: 100;
    position: absolute;
    bottom: 280px;
}

#mouse-circle {
    position: fixed; /* Position relative to the viewport */
    width: 25px; /* Circle diameter */
    height: 25px; /* Circle diameter */
    border: 0.5px solid white; /* White border */
    border-radius: 50%; /* Make it a circle */
    pointer-events: none; /* Prevent the circle from interfering with mouse events */
    transform: translate(-50%, -50%); /* Center the circle on the cursor */
    z-index: 1000; /* Ensure it appears above other elements */
}

#video {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); /* Center the video */
    width: 18%; /* Adjust width as needed */
    height: 350px; /* Maintain aspect ratio */
    border-top-right-radius: 50%; /* Optional */
    border-top-left-radius: 50%; /* Optional */

}