*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
    overflow: hidden;
}

body{
    width: 1440px;
    height: 750px;
    position: relative;
    background-color: #f7f7f7;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    z-index: -99;
}

#menu{
    width: fit-content;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 530;
    gap: 27px;
    border:#e6e6e6 1px solid;
    border-radius: 20px;
    top: 20px;
    left: 40px;
    position: absolute;

}

#bg-img{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 120px;
    left: 250px;
    background-color: transparent;
}

#circle-gradient{
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, rgb(243, 174, 174), #f7f7f7,  #f7f7f7);
    border-radius: 50%; /* Make the container circular */
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 300px;
}

.star{
    position: absolute;
    background-color: transparent;
    height: auto;
}

#star1{
    width: 800px;
    top: 100px;
    left: -340px;
    filter: blur(4px);
}

#star2{
    width: 800px;
    bottom: -220px;
    left: -180px;
    filter: blur(2px);
    rotate: 20deg;
}

#star3{
    width: 500px;
    top: 400px;
    left: 180px;
    rotate: -25deg;
}

#star4{
    width: 500px;
    top: 310px;
    right: 180px;
}

#star5{
    width: 850px;
    bottom: -20px;
    right: -300px;
    filter: blur(4px);
}

#star6{
    width: 500px;
    bottom: -90px;
    right: 0px;
    filter: blur(2px);
    rotate: 15deg;
}

#menu2{
    width: 110px;
    height: 43px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    gap: 27px;
    border:#e6e6e6 1px solid;
    border-radius: 25px;
    top: 20px;
    left: 1280px;
    position: relative;
    align-items: center;
}

#menu2 img{
    position: absolute;
    width: 200px;
    height: auto;
    top: -17px;
    left: -48px;
    transform: scale(0.65);
}

#logo{
    position: absolute;
    width: 210px;
    height: 80px;
    top: 0px;
    left: 615px;
    background-color: rgb(243, 174, 174);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#logo-svg{
    position: relative;
    top: 20px;
    left: 10px;
    fill:rgb(46, 121, 148)
}

#logo p{
    position: relative;
    top: -18px;
    left: 55px;
    color: rgb(46, 121, 148);
    font-size: 24px;
    font-weight: bold;
}

#title{
    position: absolute;
    top: 60px;
    left: 100px;
    font-size: 250px;
    font-weight: bold;
    white-space: nowrap;
    transform: scaleX(1.1);
    color: rgb(46, 121, 148);
}

#footer{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}